@media screen and (max-width: 576px) {
  .hero-text {
    margin-top: 2rem;
    padding: 2rem;
  }
  p {
    font-size: 12px;
  }
  .h-bold {
    font-size: 20px;
  }
  .img-fluid {
    margin-top: 1rem;
  }
  .list-text {
    font-size: 12px;
    padding-left: 1rem;
  }
  #carousel-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #content-carousel {
    text-align: center;
  }

  .faq-title {
    font-size: 18px;
  }
  .faq-desc {
    font-size: 16px;
  }
  .accordion-button {
    font-size: 14px;
  }
  .accordion-item {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    padding: 2rem 0 0 4.5rem;
  }
  .hero-text {
    margin-top: 3rem !important;
  }
  p {
    font-size: 12px;
  }
  .h-bold {
    font-size: 20px;
  }
  .list-text {
    font-size: 12px;
    padding-left: 1rem;
  }
  .faq-title {
    font-size: 22px;
  }
  .faq-desc {
    font-size: 18px;
  }
  #content-carousel {
    text-align: justify;
  }
  .accordion-button {
    font-size: 14px;
  }
  .accordion-item {
    font-size: 14px;
  }
  #btn-nav-footer {
    visibility: hidden;
  }
}

@media screen and (min-width: 992px) {
  .hero-text {
    padding: 3rem;
  }

  .hero-text {
    padding: 5rem 0 0 6.5rem;
  }

  p {
    font-size: 14px;
  }

  .h-bold {
    font-size: 36px;
  }

  .list-text {
    font-size: 14px;
    padding-left: 1rem;
  }
  .faq-title {
    font-size: 26px;
  }
  .faq-desc {
    font-size: 20px;
  }
  #content-carousel {
    text-align: justify;
  }
  .accordion-button {
    font-size: 16px;
  }
  .accordion-item {
    font-size: 16px;
  }
  #btn-nav-footer {
    visibility: visible;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(17, 170, 63);
}

p {
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

section.container {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.bg-f1f3ff {
  background-color: #f1f3ff;
}

.text-align-justify {
  text-align: justify;
  width: 90%;
}

.button-hijau {
  background-color: #48eb4d;
  color: white !important;
  font-weight: 650;
  font-size: 14px;
  padding: 8px 12px 8px 12px !important;
}

.h-bold {
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.list {
  padding-left: 0px !important;
  list-style: none;
}

.card {
  min-height: 12rem;
}

.banner-card {
  color: white;
  background: #0d28a6 !important;
  border-radius: 13px !important;
}

.faq-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.accordion-item {
  border: 1px solid #ccc !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  overflow: hidden;
}
